<div class="ekart-header">

    <div class="ekart-logo">
        <h1>Welcome</h1>
    </div>


    <div class="ekart-header-nav">
        <nav class="ekart-top-bar">
            <a href="#">Help</a> 
            <a href="#">Exchange & Return</a> 
            <a href="#">Order Tracker</a> 
            <a href="#">SignUp / Login</a>
        </nav>
        <div class="ekert-bottom-bar">
            <nav class="ekart-menu">
                <a href="#"></a> 
                <a href="#">Exchange & Return</a> 
                <a href="#">Order Tracker</a> 
                <a href="#">SignUp / Login</a>
            </nav>
            <div class="ekrat-search-bar">
                <input type="text" class="ekart-serch-box" placeholder="Search">
                <button class="ekart-search-btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

</div>